
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>@(ViewBag.Title + "" + ViewBag.Product.Name)</h2>
<div>
    <ul>
        <li>@ViewBag.Product.Name</li>
        <li>@ViewBag.Product.Color</li>
        <li>@ViewBag.Product.Price</li>
    </ul>
</div>
<div>
    <form method="post" action="">
        <input type="hidden" name="ProductId" value="@ViewBag.Product.Id">
        <input type="hidden" name="ProductCategory" value="@ViewBag.Category">
        <input type="hidden" name="ProductName" value="@ViewBag.Product.Name">
        <input type="hidden" name="ProductPrice" value="@ViewBag.Product.Price">

        <label for="PersonName">Введите Имя: </label>
        <input type="text" size="15" minlenght="3" maxlength="15" required  name="PersonName" />

        <label for="EmailAdress">Email: </label>
        <input type="email" size="15" maxlength="30" placeholder="user@mail.com" required  name="EmailAdress" />

        <label for="PhoneNumber">Ваш номер телефона: </label>
        <input type="text" size="15" maxlength="13" pattern="\+\d{12}" placeholder="(+380)XXXXXXXXX" required  name="PhoneNumber" />

        <input type="submit" value="Отправить">
    </form>
</div>


