<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/StyleLayout.css" rel="stylesheet" type="text/css"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav role="navigation">
        <ul>
            <li><a href="~/Home/Index">Главная</a></li>
            <li>
                <a href="#">Категории</a>
                <ul class="dropdown">
                    <li><a href="~/Home/Categories/Towels">Полотенца</a></li>
                    <li><a href="~/Home/Categories/Hats">Шляпы</a></li>
                    <li><a href="~/Home/Categories/Umbrellas">Зонты</a></li>
                    <li><a href="~/Home/Categories/Mats">Коврики</a></li>
                    <li><a href="~/Home/Categories/Mattresses">Матрасы</a></li>
                    <li><a href="~/Home/Categories/Rings">Круги</a></li>
                </ul>
            </li>
            <li><a href="~/Home/About">О Магазине</a></li>
            <li><a href="~/Home/Contact">Контакты</a></li>
        </ul>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Not creative company</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
